# Logs
logs
*.log
*.log.7z

# Database
db/
backup/

# Temporary files
temp/

# Dependency directories
node_modules/

# Not doing a dumb dumb
.env
.env.7z

# Automations
/automations/sec.js

# Other
TODO.md