name: update
run-name: ${{ github.actor }}
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'test.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Send request
      run: |
        curl -X POST -H "Authorization: ${{ secrets.API_KEY }}" https://discord.daalbot.xyz/api/update
